node-red flows forIBM-2020 .json
[{"id":"412b0976.6ec528","type":"tab","label":"IBM Challenge 2020","disabled":false,"info":""},{"id":"b4a5e38d.9678f","type":"watson-conversation-v1","z":"412b0976.6ec528","name":"AI Recruiter","workspaceid":"9d7948d0-ab66-4c45-a116-47de361cdd1f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e0b779cc-2193-43c0-8cc5-90ee75aed2d7","timeout":"","optout-learning":false,"x":430,"y":120,"wires":[["53a41777.8b80a8"]]},{"id":"57a3d6b9.848a68","type":"debug","z":"412b0976.6ec528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"53a41777.8b80a8","type":"function","z":"412b0976.6ec528","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":120,"wires":[["57a3d6b9.848a68","599d0e0e.b783a","bec8d043.3c793"]]},{"id":"1fd1f238.8c91de","type":"ui_form","z":"412b0976.6ec528","name":"","label":"","group":"94db83bb.8f9a5","order":7,"width":14,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"reply","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["98bd81a9.f7c82","75dfb028.6bff1"]]},{"id":"98bd81a9.f7c82","type":"function","z":"412b0976.6ec528","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["b4a5e38d.9678f","c6283082.c1d8e"]]},{"id":"c6283082.c1d8e","type":"ui_text","z":"412b0976.6ec528","group":"94db83bb.8f9a5","order":3,"width":9,"height":3,"name":"","label":"YOU > ","format":"{{msg.payload}}","layout":"row-right","x":690,"y":380,"wires":[]},{"id":"599d0e0e.b783a","type":"ui_text","z":"412b0976.6ec528","group":"94db83bb.8f9a5","order":1,"width":14,"height":4,"name":"","label":"BOT > ","format":"{{msg.payload}}","layout":"row-left","x":800,"y":220,"wires":[]},{"id":"bec8d043.3c793","type":"ui_audio","z":"412b0976.6ec528","name":"","group":"94db83bb.8f9a5","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"8bd1c25.146d54","type":"ui_form","z":"412b0976.6ec528","name":"","label":"","group":"7494e353.b0ebac","order":2,"width":0,"height":0,"options":[{"label":"Full Name of candidate","value":"name","type":"text","required":true,"rows":null},{"label":"Email address","value":"email","type":"email","required":true,"rows":null},{"label":"Contact no.","value":"number","type":"number","required":true,"rows":null},{"label":"Linkedin ProfileURL","value":"profile","type":"text","required":true,"rows":null},{"label":"What do you think about upcoming challenges and opportunities in industries? (min 100 words)","value":"assessment","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","number":"","profile":"","assessment":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":500,"wires":[["9a4783a2.3d1f6","5fc6cf02.87ef4","32d6e2.f913f91e","6e8bad77.ed5044"]]},{"id":"5fc6cf02.87ef4","type":"function","z":"412b0976.6ec528","name":"","func":"msg.payload = {\n    _id:msg.payload.name,\n    Nameofcandidate:msg.payload.name,\n    Emailaddress:msg.payload.email,\n    Contactno:msg.payload.number,\n    Localaddress:msg.payload.profile,\n    Views:msg.payload.assessment\n    \n   } \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":500,"wires":[["cf65e6e.d979e18"]]},{"id":"cf65e6e.d979e18","type":"cloudant out","z":"412b0976.6ec528","name":"","cloudant":"","database":"candidate_details","service":"node-red-tbjgu-cloudant-1593593879051-78547","payonly":true,"operation":"insert","x":860,"y":520,"wires":[]},{"id":"bf026092.2fa24","type":"watson-personality-insights-v3","z":"412b0976.6ec528","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"service-endpoint":"https://api.eu-gb.personality-insights.watson.cloud.ibm.com/instances/e1675151-2ccb-43da-941e-af1399a1fbca","x":490,"y":660,"wires":[["d747b221.2e27c"]]},{"id":"9a4783a2.3d1f6","type":"function","z":"412b0976.6ec528","name":"","func":"msg.payload = msg.payload.assessment;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":640,"wires":[["bf026092.2fa24"]]},{"id":"d9f42727.7959d8","type":"cloudant out","z":"412b0976.6ec528","name":"","cloudant":"71c09157.965aa","database":"candidate_personality","service":"node-red-tbjgu-cloudant-1593593879051-78547","payonly":false,"operation":"insert","x":1070,"y":620,"wires":[]},{"id":"d747b221.2e27c","type":"function","z":"412b0976.6ec528","name":"","func":"if (msg.payload == \"msg.payload.assessment\"){\n   \n    \n    msg.payload = msg.insights.personality\n    \n}\n\n\nreturn msg;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":620,"wires":[["d9f42727.7959d8"]]},{"id":"32d6e2.f913f91e","type":"function","z":"412b0976.6ec528","name":"","func":"msg.payload = \"Greeting! \"+msg.payload.name+\".Form is successfully submitted\"\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":860,"wires":[["594d9f88.e244f"]]},{"id":"2e02fd2b.dcea22","type":"inject","z":"412b0976.6ec528","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"600","topic":"","payload":"","payloadType":"str","x":90,"y":800,"wires":[["c5519cae.91d2d","6e8bad77.ed5044"]]},{"id":"594d9f88.e244f","type":"ui_text","z":"412b0976.6ec528","group":"7494e353.b0ebac","order":4,"width":12,"height":1,"name":"","label":" Response","format":"{{msg.payload}}","layout":"col-center","x":1040,"y":860,"wires":[]},{"id":"bf6827da.6d0e18","type":"inject","z":"412b0976.6ec528","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1000","topic":"","payload":"ok","payloadType":"str","x":170,"y":100,"wires":[["b4a5e38d.9678f"]]},{"id":"c5519cae.91d2d","type":"change","z":"412b0976.6ec528","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":940,"wires":[["8bd1c25.146d54"]]},{"id":"1d499d4a.abab53","type":"change","z":"412b0976.6ec528","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":420,"wires":[["c6283082.c1d8e"]]},{"id":"75dfb028.6bff1","type":"delay","z":"412b0976.6ec528","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":420,"wires":[["1d499d4a.abab53"]]},{"id":"6e8bad77.ed5044","type":"delay","z":"412b0976.6ec528","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":780,"wires":[["b630d00a.4fb47"]]},{"id":"b630d00a.4fb47","type":"change","z":"412b0976.6ec528","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":780,"wires":[["594d9f88.e244f"]]},{"id":"94db83bb.8f9a5","type":"ui_group","z":"","name":"Chatbot","tab":"e6dbd666.6f9108","order":1,"disp":true,"width":14,"collapse":false},{"id":"7494e353.b0ebac","type":"ui_group","z":"","name":"Candidate Details","tab":"9cf0e540.096148","order":2,"disp":true,"width":18,"collapse":false},{"id":"71c09157.965aa","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"e6dbd666.6f9108","type":"ui_tab","z":"","name":"IBM Watson","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9cf0e540.096148","type":"ui_tab","z":"","name":"Application Form","icon":"dashboard","order":2,"disabled":false,"hidden":false}]